<header>
    <nav class="menu" role="navigation">
       <div class="menu_toggle">
           <span></span>
           <span></span>
           <span></span>
           <span></span>
           <ul class="navbar">
               <li><a href="#" class="link-item">Home</a></li>
               <li><a href="#" class="link-item">Characters</a></li>
               <li><a href="#" class="link-item">Episodes</a></li>
               <li><a href="#" class="link-item">About</a></li>
           </ul>
       </div>
    </nav>
</header>